@font-face
    font-family: 'Gawaa-Italic'
    src: url('../fonts/gawaa/Gawaa-Italic.woff')

@font-face
    font-family: 'SuisseIntl-Regular'
    src: url('../fonts/SuisseIntl/SuisseIntl-Regular.woff')

@font-face
    font-family: 'SuisseIntl-SemiBold'
    src: url('../fonts/SuisseIntl/SuisseIntl-SemiBold.woff')

@font-face
    font-family: 'SuisseIntl-Bold'
    src: url('../fonts/SuisseIntl/SuisseIntl-Bold.woff')

@font-face
    font-family: 'Lobster-Regular'
    src: url('../fonts/lobster/Lobster-Regular.woff')


