@font-face
    font-family: 'Gawaa-Italic'
    src: url('https://fav-prom.com/html/jackpot/fonts//gawaa/Gawaa-Italic.woff')

@font-face
    font-family: 'SuisseIntl-Regular'
    src: url('https://fav-prom.com/html/jackpot/fonts//SuisseIntl/SuisseIntl-Regular.woff')

@font-face
    font-family: 'SuisseIntl-SemiBold'
    src: url('https://fav-prom.com/html/jackpot/fonts//SuisseIntl/SuisseIntl-SemiBold.woff')

@font-face
    font-family: 'SuisseIntl-Bold'
    src: url('https://fav-prom.com/html/jackpot/fonts//SuisseIntl/SuisseIntl-Bold.woff')


