@font-face
    font-family: 'SuisseIntl-SemiBold'
    src: url(https://fav-prom.com/html/ny-ro/fonts//SuisseIntl/SuisseIntl-SemiBold.woff)
    font-weight: 600

@font-face
    font-family: 'Kalam-Regular'
    src: url(https://fav-prom.com/html/ny-ro/fonts//kalam/Kalam-Regular.woff)

@font-face
    font-family: 'Kalam-Bold'
    src: url(https://fav-prom.com/html/ny-ro/fonts//kalam/Kalam-Bold.woff)

@font-face
    font-family: 'KaushanScript-Regular'
    src: url(https://fav-prom.com/html/ny-ro/fonts//kaushan/KaushanScript-Regular.woff)

@font-face
    font-family: 'Play-Bold'
    src: url(https://fav-prom.com/html/ny-ro/fonts//play/Play-Bold.woff)

@font-face
    font-family: 'Play-Regular'
    src: url(https://fav-prom.com/html/ny-ro/fonts//play/Play-Regular.woff)
