.fav__page.overflow
  .welcome
    .welcome__container
      .welcome__image
        .welcome__image-bg
        .welcome__image-title
          picture
            source(media="(min-width: 1025px) " srcset="img/welcome/welcome-title-desc.png")
            source(media="(min-width: 551px) and (max-width: 1024px) " srcset="img/welcome/welcome-title-tab.png")
            source(media="(max-width: 550px)" srcset="img/welcome/welcome-title-mob.png")
            img(src="img/welcome/welcome-title-desc.png" alt="Favbet")
        .welcome__image-pers
          picture
            source(media="(min-width: 1025px) " srcset="img/welcome/welcome-sam-desc.png")
            source(media="(min-width: 551px) and (max-width: 1024px) " srcset="img/welcome/welcome-sam-tab.png")
            source(media="(max-width: 550px)" srcset="img/welcome/welcome-sam-mob.png")
            img(src="img/welcome/welcome-sam-desc.png" alt="Favbet")
          .welcome__image-pers-text Граю-вітаю! #[br] Готовий поборотись за мільйон?
        .welcome__image-left
        .welcome__image-right

      .welcome__text *Джекпот - це виграш (приз), який визначається Організатором залежно від загальної кількості здійснених гравцями ставок. Приз можливо виграти, граючи в іграх розділу Казино, Швидкі Ігри та Казино Live. Загальна сума призового фонду джекпоту постійно зростає, так само, як і окремі види призів (Mini, Minor, Major, Mega). Деталі на акційній сторінці або в п.6.9 правил Організатора <a href='https://www.favbet.ua/uk/rules/'>https://www.favbet.ua/uk/rules/</a>
  .wrapper-bg
    .detail
      .detail__container
        .detail__row
          .detail__info
            .detail__wrap
              .detail__title
                .detail__title-top Зривай джекпот
                .detail__title-bottom
              .detail__text Грай у розділах Казино, Швидкі Ігри та Казино Live, став від 1 гривні та отримуй можливість забрати джекпот від FAVBET
            .detail__subtitle Як працює FAVBET Джекпот?
            .detail__list
              .detail__item Роби ставки в будь-яких іграх у розділі Казино, Швидкі ігри та Казино Live.
              .detail__item Сума джекпоту залежить від вартості ставки. Джекпот не вимагає відіграшу.
          .detail__image
            picture
              source(media="(min-width: 1025px) " srcset="img/detail/sam-detail-desc.png")
              source(media="(min-width: 551px) and (max-width: 1024px) " srcset="img/detail/sam-detail-tab.png")
              source(media="(max-width: 550px)" srcset="img/detail/sam-detail-mob.png")
              img(src="img/detail/sam-detail-desc.png" alt="Favbet")
            .detail__image-text._anim-items._anim-no-hide Саме так: #[br] стартуй від 1 гривні та змагайся за свій джекпот
    .prize
      .prize__container
        .prize__slider
          .prize__item.item1
            .prize__item-wrap
              .prize__item-info
                .prize__item-title.titleOne
                  picture
                    source(media="(min-width: 551px) " srcset="img/prize/title-slide1-desc.png")
                    source(media="(max-width: 550px)" srcset="img/prize/title-slide1-mob.png")
                    img(src="img/prize/title-slide1-desc.png" alt="Favbet")
                .prize__item-sum 1500000₴
                .prize__item-btns
                  .left.button-slider-left
                  a(href='#').play.custom-btn Грати
                  .right.button-slider-right
                .prize__item-cont
                  .prize__item-text Мінімальна ставка
                  .prize__item-stav 1 ₴
              picture
                source(media="(min-width: 1025px) " srcset="img/prize/slot-desc.png")
                source(media="(min-width: 551px) and (max-width: 1024px) " srcset="img/prize/slot-tab.png")
                source(media="(max-width: 550px)" srcset="img/prize/slot-mob.png")
                img(src="img/prize/slot-desc.png" alt="Favbet")
          .prize__item.item2
            .prize__item-wrap
              .prize__item-info
                .prize__item-title.titleTwo
                  picture
                    source(media="(min-width: 551px) " srcset="img/prize/title-slide2-desc.png")
                    source(media="(max-width: 550px)" srcset="img/prize/title-slide2-mob.png")
                    img(src="img/prize/title-slide2-desc.png" alt="Favbet")
                .prize__item-sum 1500000₴
                .prize__item-btns
                  .left.button-slider-left
                  a(href='#').play.custom-btn Грати
                  .right.button-slider-right
                .prize__item-cont
                  .prize__item-text Мінімальна ставка
                  .prize__item-stav 50 ₴
              picture
                source(media="(min-width: 1025px) " srcset="img/prize/slot-desc.png")
                source(media="(min-width: 551px) and (max-width: 1024px) " srcset="img/prize/slot-tab.png")
                source(media="(max-width: 550px)" srcset="img/prize/slot-mob.png")
                img(src="img/prize/slot-desc.png" alt="Favbet")
          .prize__item.item3
            .prize__item-wrap
              .prize__item-info
                .prize__item-title.titleThree
                  picture
                    source(media="(min-width: 551px) " srcset="img/prize/title-slide3-desc.png")
                    source(media="(max-width: 550px)" srcset="img/prize/title-slide3-mob.png")
                    img(src="img/prize/title-slide1-desc.png" alt="Favbet")
                .prize__item-sum 1500000₴
                .prize__item-btns
                  .left.button-slider-left
                  a(href='#').play.custom-btn Грати
                  .right.button-slider-right
                .prize__item-cont
                  .prize__item-text Мінімальна ставка
                  .prize__item-stav 10 ₴
              picture
                source(media="(min-width: 1025px) " srcset="img/prize/slot-desc.png")
                source(media="(min-width: 551px) and (max-width: 1024px) " srcset="img/prize/slot-tab.png")
                source(media="(max-width: 550px)" srcset="img/prize/slot-mob.png")
                img(src="img/prize/slot-desc.png" alt="Favbet")
          .prize__item.item4
            .prize__item-wrap
              .prize__item-info
                .prize__item-title.titleOne
                  picture
                    source(media="(min-width: 551px) " srcset="img/prize/title-slide1-desc.png")
                    source(media="(max-width: 550px)" srcset="img/prize/title-slide1-mob.png")
                    img(src="img/prize/title-slide1-desc.png" alt="Favbet")
                .prize__item-sum 1500000₴
                .prize__item-btns
                  .left.button-slider-left
                  a(href='#').play.custom-btn Грати
                  .right.button-slider-right
                .prize__item-cont
                  .prize__item-text Мінімальна ставка
                  .prize__item-stav 25 ₴
              picture
                source(media="(min-width: 1025px) " srcset="img/prize/slot-desc.png")
                source(media="(min-width: 551px) and (max-width: 1024px) " srcset="img/prize/slot-tab.png")
                source(media="(max-width: 550px)" srcset="img/prize/slot-mob.png")
                img(src="img/prize/slot-desc.png" alt="Favbet")
    .info
      .info__container
        .info__row
          .info__image
            picture
              source(media="(min-width: 1025px) " srcset="img/info/sam-info-desc.png")
              source(media="(min-width: 551px) and (max-width: 1024px) " srcset="img/info/sam-info-tab.png")
              source(media="(max-width: 550px)" srcset="img/info/sam-info-mob.png")
              img(src="img/info/sam-info-desc.png" alt="Favbet")
            .info__image-text._anim-items._anim-no-hide Ого, який джекпот! Не проґав свій шанс
          .info__des
            .info__title Кожна ставка у розділі Казино та Казино Live збільшує суму джекпоту.
            .info__text
              p Виграш джекпоту повністю випадковий.
              p У разі виграшу джекпоту необхідно зайти в Особистий Кабінет -> Бонуси -> Джекпоти та прийняти виграш протягом 5 (п’яти) календарних днів з моменту отримання сповіщення.
              p Після чого сума такого виграшу (призу) буде зарахована на особистий клієнтський рахунок Гравця.
    .footer
      .footer__container
        .footer__title Твоя ставка — твій шанс на джекпот.
        .footer__row
          .footer__item
            .footer__image.footer__image-one
              picture
                source(media="(min-width: 1025px) " srcset="img/footer/sam-footer-desc.png")
                source(media="(min-width: 551px) and (max-width: 1024px) " srcset="img/footer/sam-footer-tab.png")
                source(media="(max-width: 550px)" srcset="img/footer/sam-footer-mob.png")
                img(src="img/footer/sam-footer-desc.png" alt="Favbet")
            a(href='#').footer__link.custom-btn-two крутити рулетку
          .footer__item
            .footer__image.footer__image-two
              picture
                source(media="(min-width: 1025px) " srcset="img/footer/footer-avt-desc.png")
                source(media="(min-width: 551px) and (max-width: 1024px) " srcset="img/footer/footer-avt-tab.png")
                source(media="(max-width: 550px)" srcset="img/footer/footer-avt-mob.png")
                img(src="img/footer/footer-avt-desc.png" alt="Favbet")
            a(href='#').footer__link.custom-btn-two крутити рулетку
        .footer__text Детальну інформацію можна дізнатись у правилах Організатора у пункті 6.9 <a href='https://www.favbet.ua/uk/rules/'>https://www.favbet.ua/uk/rules/</a>






