.fav__page#newYear2024
  .welcome
    .welcome__container
      .welcome__pers
        picture
          source(media="(min-width: 1025px) " srcset="https://fav-prom.com/html/ny-ro/img/welcome/pers-desc.png")
          source(media="(min-width: 551px) and (max-width: 1024px) " srcset="https://fav-prom.com/html/ny-ro/img/welcome/pers-tab.png")
          source(media="(max-width: 550px)" srcset="https://fav-prom.com/html/ny-ro/img/welcome/pers-mob.png")
          img(src="https://fav-prom.com/html/ny-ro/img/welcome/pers-desc.png" alt="Favbet")
      .welcome__present
        picture
          source(media="(min-width: 1025px) " srcset="https://fav-prom.com/html/ny-ro/img/welcome/present-desc.png")
          source(media="(min-width: 551px) and (max-width: 1024px) " srcset="https://fav-prom.com/html/ny-ro/img/welcome/present-tab.png")
          source(media="(max-width: 550px)" srcset="https://fav-prom.com/html/ny-ro/img/welcome/present-mob.png")
          img(src="https://fav-prom.com/html/ny-ro/img/welcome/present-desc.png" alt="Favbet")
      .welcome__text
        .welcome__text-top(data-translate='welcome-title-top')
        .welcome__text-bottom(data-translate='welcome-title-bottom')
  .detail
    .detail__container
      .detail__decor-one
      .detail__title(data-translate='detail-title')
      .detail__text(data-translate='detail-text')
      a(href="/login/" target="_blank" role="button" data-translate='loginBtn').detail__btn.custom-btn.unauth-msg
      .detail__btn.btn-join.custom-btn.hide(data-translate='partBtn')
      a(href='/sports/sport/soccer/' target="_blank" role="button" data-translate='playBtn').detail__btn.custom-btn.took-part.hide
      .detail__decor-two
  .prize
    .prize__container
      .prize__title(data-translate='prize-title')
      .prize__row
        .prize__item
          .prize__item-img
            picture
              source(media="(min-width: 551px) " srcset="https://fav-prom.com/html/ny-ro/img/prize/prize1-desc.png")
              source(media="(max-width: 550px)" srcset="https://fav-prom.com/html/ny-ro/img/prize/prize1-mob.png")
              img(src="https://fav-prom.com/html/ny-ro/img/prize/prize1-desc.png" alt="Favbet")
          .prize__item-text(data-translate='prize_1')
        .prize__item
          .prize__item-img
            picture
              source(media="(min-width: 551px) " srcset="https://fav-prom.com/html/ny-ro/img/prize/prize2-desc.png")
              source(media="(max-width: 550px)" srcset="https://fav-prom.com/html/ny-ro/img/prize/prize2-mob.png")
              img(src="https://fav-prom.com/html/ny-ro/img/prize/prize2-desc.png" alt="Favbet")
          .prize__item-text(data-translate='prize_2')
        .prize__item
          .prize__item-img
            picture
              source(media="(min-width: 551px) " srcset="https://fav-prom.com/html/ny-ro/img/prize/prize3-desc.png")
              source(media="(max-width: 550px)" srcset="https://fav-prom.com/html/ny-ro/img/prize/prize3-mob.png")
              img(src="https://fav-prom.com/html/ny-ro/img/prize/prize3-desc.png" alt="Favbet")
          .prize__item-text(data-translate='prize_3')
        .prize__item
          .prize__item-img
            picture
              source(media="(min-width: 551px) " srcset="https://fav-prom.com/html/ny-ro/img/prize/prize4-desc.png")
              source(media="(max-width: 550px)" srcset="https://fav-prom.com/html/ny-ro/img/prize/prize4-mob.png")
              img(src="https://fav-prom.com/html/ny-ro/img/prize/prize4-desc.png" alt="Favbet")
          .prize__item-text(data-translate='prize_4')
        .prize__item
          .prize__item-img
            picture
              source(media="(min-width: 551px) " srcset="https://fav-prom.com/html/ny-ro/img/prize/prize5-desc.png")
              source(media="(max-width: 550px)" srcset="https://fav-prom.com/html/ny-ro/img/prize/prize5-mob.png")
              img(src="https://fav-prom.com/html/ny-ro/img/prize/prize5-desc.png" alt="Favbet")
          .prize__item-text(data-translate='prize_5')
        .prize__item
          .prize__item-img
            picture
              source(media="(min-width: 551px) " srcset="https://fav-prom.com/html/ny-ro/img/prize/prize6-desc.png")
              source(media="(max-width: 550px)" srcset="https://fav-prom.com/html/ny-ro/img/prize/prize6-mob.png")
              img(src="https://fav-prom.com/html/ny-ro/img/prize/prize6-desc.png" alt="Favbet")
          .prize__item-text(data-translate='prize_6')
        .prize__item
          .prize__item-img
            picture
              source(media="(min-width: 551px) " srcset="https://fav-prom.com/html/ny-ro/img/prize/prize7-desc.png")
              source(media="(max-width: 550px)" srcset="https://fav-prom.com/html/ny-ro/img/prize/prize7-mob.png")
              img(src="https://fav-prom.com/html/ny-ro/img/prize/prize7-desc.png" alt="Favbet")
          .prize__item-text(data-translate='prize_7')
  .info
    .info__container
      .info__prize-left
      .info__title(data-translate='info-title')
      a(href="/login/" target="_blank" role="button" data-translate='loginBtn').info__btn.custom-btn.unauth-msg
      .info__btn.custom-btn.btn-join.hide(data-translate='partBtn')
      a(href='/sports/sport/soccer/' target="_blank" role="button" data-translate='playBtn').info__btn.custom-btn.took-part.hide
      .info__prize-right
  .rules
    .rules__container
      .rules__title(data-translate='rules-title')
      .rules__list
        .rules__item.rules__item-one
          .rules__item-img
            picture
              source(media="(min-width: 551px) " srcset="https://fav-prom.com/html/ny-ro/img/rules/rules-img1-desc.png")
              source(media="(max-width: 550px)" srcset="https://fav-prom.com/html/ny-ro/img/rules/rules-img1-mob.png")
              img(src="https://fav-prom.com/html/ny-ro/img/rules/rules-img1-desc.png" alt="Favbet")
          .rules__item-text(data-translate='rules-txt-1')
        .rules__item.rules__item-two
          .rules__item-img
            picture
              source(media="(min-width: 551px) " srcset="https://fav-prom.com/html/ny-ro/img/rules/rules-img2-desc.png")
              source(media="(max-width: 550px)" srcset="https://fav-prom.com/html/ny-ro/img/rules/rules-img2-mob.png")
              img(src="https://fav-prom.com/html/ny-ro/img/rules/rules-img2-desc.png" alt="Favbet")
          .rules__item-text(data-translate='rules-txt-2')
        .rules__item.rules__item-three
          .rules__item-img
            picture
              source(media="(min-width: 551px) " srcset="https://fav-prom.com/html/ny-ro/img/rules/rules-img3-desc.png")
              source(media="(max-width: 550px)" srcset="https://fav-prom.com/html/ny-ro/img/rules/rules-img3-mob.png")
              img(src="https://fav-prom.com/html/ny-ro/img/rules/rules-img3-desc.png" alt="Favbet")
          .rules__item-text(data-translate='rules-txt-3')

      details.custom-drop.rules__drop
        summary.custom-drop-title(data-translate="rulesDropTitle")
        .custom-drop-txt
          .custom-drop-txt-wrap(data-translate="rulesDropTxt")
  .result
    .result__bg
    .result__container
      .result__title(data-translate='result-title')
      .result__row
        .result__item
          .result__item-title(data-translate='resul-table1-title')
          .tableResults
            .tableResults__container
              .tableResults__wrap
                .tableResults__head
                  .tableResults__head-list
                    .tableResults__head-col(data-translate="tableResults_head-place")
                    .tableResults__head-col(data-translate="tableResults_head-id")
                    .tableResults__head-col(data-translate="tableResults_head-points")
                    .tableResults__head-col(data-translate="tableResults_head-prize")
                .tableResults__body#results-table-one
        .result__item
          .result__item-title(data-translate='resul-table2-title')
          .tableResults
            .tableResults__container
              .tableResults__wrap
                .tableResults__head
                  .tableResults__head-list
                    .tableResults__head-col(data-translate="tableResults_head-place")
                    .tableResults__head-col(data-translate="tableResults_head-id")
                    .tableResults__head-col(data-translate="tableResults_head-points")
                    .tableResults__head-col(data-translate="tableResults_head-prize")
                .tableResults__body#results-table-two
      details.custom-drop.result__drop
        summary.custom-drop-title(data-translate="resultDropTitle")
        .custom-drop-txt
          .custom-drop-txt-wrap(data-translate="resultDropTxt")
  .video
    .video__container
      .video__prize-left
      .video__title Raport video
      .video__img
        iframe(src="https://www.youtube.com/embed/Cd2oYD49NeY?si=yqtQ4J_Y0TYWBSTj" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="video-frame")
      .video__prize-right
  .footer
    .footer__container
      .footer__pers
        picture
          source(media="(min-width: 1025px) " srcset="https://fav-prom.com/html/ny-ro/img/welcome/pers-desc.png")
          source(media="(min-width: 771px) and (max-width: 1024px) " srcset="https://fav-prom.com/html/ny-ro/img/welcome/pers-tab.png")
          source(media="(max-width: 700px)" srcset="https://fav-prom.com/html/ny-ro/img/welcome/present-mob.png")
          img(src="https://fav-prom.com/html/ny-ro/img/welcome/pers-desc.png" alt="Favbet")
      .footer__wrap
        .footer__text
          .footer__text-top(data-translate='footer-title-top')
          .footer__text-bottom(data-translate='footer-title-bottom')
        a(href="/login/" target="_blank" role="button" data-translate='loginBtn').footer__btn.custom-btn.unauth-msg
        .footer__btn.custom-btn.btn-join.hide(data-translate='partBtn')
        a(href='/sports/sport/soccer/' target="_blank" role="button" data-translate='playBtn').footer__btn.custom-btn.took-part.hide







