.fav__page#jackpot
  .welcome
    .welcome__container
      .welcome__image
        .welcome__image-bg
        .welcome__image-title
          picture
            source(media="(min-width: 1025px) " srcset="https://fav-prom.com/html/jackpot/img/welcome/welcome-title-desc.png")
            source(media="(min-width: 551px) and (max-width: 1024px) " srcset="https://fav-prom.com/html/jackpot/img/welcome/welcome-title-tab.png")
            source(media="(max-width: 550px)" srcset="https://fav-prom.com/html/jackpot/img/welcome/welcome-title-mob.png")
            img(src="https://fav-prom.com/html/jackpot/img/welcome/welcome-title-desc.png" alt="Favbet")
        .welcome__image-pers
          picture
            source(media="(min-width: 1025px) " srcset="https://fav-prom.com/html/jackpot/img/welcome/welcome-sam-desc.png")
            source(media="(min-width: 551px) and (max-width: 1024px) " srcset="https://fav-prom.com/html/jackpot/img/welcome/welcome-sam-tab.png")
            source(media="(max-width: 550px)" srcset="https://fav-prom.com/html/jackpot/img/welcome/welcome-sam-mob.png")
            img(src="https://fav-prom.com/html/jackpot/img/welcome/welcome-sam-desc.png" alt="Favbet")
          .welcome__image-pers-text(data-translate="welcomeSlogan") Граю-вітаю! #[br] Готовий поборотись за мільйон?
        .welcome__image-left
        .welcome__image-right
      .welcome__text(data-translate="welcomeTxt") *Джекпот - це виграш (приз), який визначається Організатором залежно від загальної кількості здійснених гравцями ставок. Приз можливо виграти, граючи в іграх розділу Казино, Швидкі Ігри та Казино Live. Загальна сума призового фонду джекпоту постійно зростає, так само, як і окремі види призів (Mini, Minor, Major, Mega). Деталі на акційній сторінці або в п.6.9 правил Організатора <a href='https://www.favbet.ua/uk/rules/'>https://www.favbet.ua/uk/rules/</a>
  .wrapper-bg
    .detail
      .detail__container
        .detail__row
          .detail__info
            .detail__wrap
              .detail__title
                .detail__title-top(data-translate="detailTitle") Зривай джекпот
                .detail__title-bottom
              .detail__text(data-translate="detailTxt") Грай у розділах Казино, Швидкі Ігри та Казино Live, став від 1 гривні та отримуй можливість забрати джекпот від FAVBET
            .detail__subtitle(data-translate="detailSub") Як працює FAVBET Джекпот?
            .detail__list
              .detail__item(data-translate="detailItem-1") Роби ставки в будь-яких іграх у розділі Казино, Швидкі ігри та Казино Live.
              .detail__item(data-translate="detailItem-2") Сума джекпоту залежить від вартості ставки. Джекпот не вимагає відіграшу.
          .detail__image
            picture
              source(media="(min-width: 1025px) " srcset="https://fav-prom.com/html/jackpot/img/detail/sam-detail-desc.png")
              source(media="(min-width: 551px) and (max-width: 1024px) " srcset="https://fav-prom.com/html/jackpot/img/detail/sam-detail-tab.png")
              source(media="(max-width: 550px)" srcset="https://fav-prom.com/html/jackpot/img/detail/sam-detail-mob.png")
              img(src="https://fav-prom.com/html/jackpot/img/detail/sam-detail-desc.png" alt="Favbet")
            .detail__image-text._anim-items._anim-no-hide(data-translate="detailSlogan") Саме так: #[br] стартуй від 1 гривні та змагайся за свій джекпот
    .prize
      .prize__container
        .prize__slider
          .prize__item.item1
            .prize__item-wrap
              .prize__item-info
                .prize__item-title.titleOne
                  picture
                    source(media="(min-width: 551px) " srcset="https://fav-prom.com/html/jackpot/img/prize/title-slide1-desc.png")
                    source(media="(max-width: 550px)" srcset="https://fav-prom.com/html/jackpot/img/prize/title-slide1-mob.png")
                    img(src="https://fav-prom.com/html/jackpot/img/prize/title-slide1-desc.png" alt="Favbet")
                .prize__item-sum.prize-major loading...
                .prize__item-btns
                  .left.button-slider-left
                  a(href='/casino/' data-translate="playBtn").play.custom-btn Грати
                  .right.button-slider-right
                .prize__item-cont
                  .prize__item-text(data-translate="minBet") Мінімальна ставка
                  .prize__item-stav(data-translate="minSum-1") 25 ₴
              picture
                source(media="(min-width: 1025px) " srcset="https://fav-prom.com/html/jackpot/img/prize/slot-desc.png")
                source(media="(min-width: 551px) and (max-width: 1024px) " srcset="https://fav-prom.com/html/jackpot/img/prize/slot-tab.png")
                source(media="(max-width: 550px)" srcset="https://fav-prom.com/html/jackpot/img/prize/slot-mob.png")
                img(src="https://fav-prom.com/html/jackpot/img/prize/slot-desc.png" alt="Favbet")
          .prize__item.item2
            .prize__item-wrap
              .prize__item-info
                .prize__item-title.titleTwo
                  picture
                    source(media="(min-width: 551px) " srcset="https://fav-prom.com/html/jackpot/img/prize/title-slide2-desc.png")
                    source(media="(max-width: 550px)" srcset="https://fav-prom.com/html/jackpot/img/prize/title-slide2-mob.png")
                    img(src="https://fav-prom.com/html/jackpot/img/prize/title-slide2-desc.png" alt="Favbet")
                .prize__item-sum.prize-mega loading...
                .prize__item-btns
                  .left.button-slider-left
                  a(href='/casino/' data-translate="playBtn").play.custom-btn Грати
                  .right.button-slider-right
                .prize__item-cont
                  .prize__item-text(data-translate="minBet") Мінімальна ставка
                  .prize__item-stav(data-translate="minSum-2") 50 ₴
              picture
                source(media="(min-width: 1025px) " srcset="https://fav-prom.com/html/jackpot/img/prize/slot-desc.png")
                source(media="(min-width: 551px) and (max-width: 1024px) " srcset="https://fav-prom.com/html/jackpot/img/prize/slot-tab.png")
                source(media="(max-width: 550px)" srcset="https://fav-prom.com/html/jackpot/img/prize/slot-mob.png")
                img(src="https://fav-prom.com/html/jackpot/img/prize/slot-desc.png" alt="Favbet")
          .prize__item.item3
            .prize__item-wrap
              .prize__item-info
                .prize__item-title.titleThree
                  picture
                    source(media="(min-width: 551px) " srcset="https://fav-prom.com/html/jackpot/img/prize/title-slide3-desc.png")
                    source(media="(max-width: 550px)" srcset="https://fav-prom.com/html/jackpot/img/prize/title-slide3-mob.png")
                    img(src="https://fav-prom.com/html/jackpot/img/prize/title-slide1-desc.png" alt="Favbet")
                .prize__item-sum.prize-mini loading...
                .prize__item-btns
                  .left.button-slider-left
                  a(href='/casino/' data-translate="playBtn").play.custom-btn Грати
                  .right.button-slider-right
                .prize__item-cont
                  .prize__item-text(data-translate="minBet") Мінімальна ставка
                  .prize__item-stav(data-translate="minSum-3") 1 ₴
              picture
                source(media="(min-width: 1025px) " srcset="https://fav-prom.com/html/jackpot/img/prize/slot-desc.png")
                source(media="(min-width: 551px) and (max-width: 1024px) " srcset="https://fav-prom.com/html/jackpot/img/prize/slot-tab.png")
                source(media="(max-width: 550px)" srcset="https://fav-prom.com/html/jackpot/img/prize/slot-mob.png")
                img(src="https://fav-prom.com/html/jackpot/img/prize/slot-desc.png" alt="Favbet")
          .prize__item.item4
            .prize__item-wrap
              .prize__item-info
                .prize__item-title.titleFourth
                  picture
                    source(media="(min-width: 551px) " srcset="https://fav-prom.com/html/jackpot/img/prize/title-slide4-desc.png")
                    source(media="(max-width: 550px)" srcset="https://fav-prom.com/html/jackpot/img/prize/title-slide4-mob.png")
                    img(src="https://fav-prom.com/html/jackpot/img/prize/title-slide4-desc.png" alt="Favbet")
                .prize__item-sum.prize-minor loading...
                .prize__item-btns
                  .left.button-slider-left
                  a(href='/casino/' data-translate="playBtn").play.custom-btn Грати
                  .right.button-slider-right
                .prize__item-cont
                  .prize__item-text(data-translate="minBet") Мінімальна ставка
                  .prize__item-stav(data-translate="minSum-4") 10 ₴
              picture
                source(media="(min-width: 1025px) " srcset="https://fav-prom.com/html/jackpot/img/prize/slot-desc.png")
                source(media="(min-width: 551px) and (max-width: 1024px) " srcset="https://fav-prom.com/html/jackpot/img/prize/slot-tab.png")
                source(media="(max-width: 550px)" srcset="https://fav-prom.com/html/jackpot/img/prize/slot-mob.png")
                img(src="https://fav-prom.com/html/jackpot/img/prize/slot-desc.png" alt="Favbet")
    .info
      .info__container
        .info__row
          .info__image
            picture
              source(media="(min-width: 1025px) " srcset="https://fav-prom.com/html/jackpot/img/info/sam-info-desc.png")
              source(media="(min-width: 551px) and (max-width: 1024px) " srcset="https://fav-prom.com/html/jackpot/img/info/sam-info-tab.png")
              source(media="(max-width: 550px)" srcset="https://fav-prom.com/html/jackpot/img/info/sam-info-mob.png")
              img(src="https://fav-prom.com/html/jackpot/img/info/sam-info-desc.png" alt="Favbet")
            .info__image-text._anim-items._anim-no-hide(data-translate="infoSlogan") Ого, який джекпот! Не проґав свій шанс
          .info__des
            .info__title(data-translate="infoTitle") Кожна ставка у розділі Казино та Казино Live збільшує суму джекпоту.
            .info__text(data-translate="infoTxt")
              p Виграш джекпоту повністю випадковий.
              p У разі виграшу джекпоту необхідно зайти в Особистий Кабінет -> Бонуси -> Джекпоти та прийняти виграш протягом 5 (п’яти) календарних днів з моменту отримання сповіщення.
              p Після чого сума такого виграшу (призу) буде зарахована на особистий клієнтський рахунок Гравця.
    .foot
      .foot__container
        .foot__title(data-translate="footTitle") Твоя ставка — твій шанс на джекпот.
        .foot__row
          .foot__item
            .foot__image.foot__image-one
              picture
                source(media="(min-width: 1025px) " srcset="https://fav-prom.com/html/jackpot/img/footer/sam-footer-desc.png")
                source(media="(min-width: 551px) and (max-width: 1024px) " srcset="https://fav-prom.com/html/jackpot/img/footer/sam-footer-tab.png")
                source(media="(max-width: 550px)" srcset="https://fav-prom.com/html/jackpot/img/footer/sam-footer-mob.png")
                img(src="https://fav-prom.com/html/jackpot/img/footer/sam-footer-desc.png" alt="Favbet")
            a(href='/casino/' data-translate="footBtn").foot__link.custom-btn-two крутити рулетку
          .foot__item
            .foot__image.foot__image-two
              picture
                source(media="(min-width: 1025px) " srcset="https://fav-prom.com/html/jackpot/img/footer/footer-avt-desc.png")
                source(media="(min-width: 551px) and (max-width: 1024px) " srcset="https://fav-prom.com/html/jackpot/img/footer/footer-avt-tab.png")
                source(media="(max-width: 550px)" srcset="https://fav-prom.com/html/jackpot/img/footer/footer-avt-mob.png")
                img(src="https://fav-prom.com/html/jackpot/img/footer/footer-avt-desc.png" alt="Favbet")
            a(href='/casino/' data-translate="footBtn").foot__link.custom-btn-two крутити рулетку
        .foot__text(data-translate="footTxt") Детальну інформацію можна дізнатись у правилах Організатора у пункті 6.9 <a href='/rules/'>https://www.favbet.ua/uk/rules/</a>
